fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles
langchain
langchain-community
langchain-text-splitters
PyMuPDF
pypdf
python-docx
sentence-transformers
chromadb
spacy
python-magic
motor
qdrant-client
