sentence-transformers
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles
langchain
langchain-community
langchain-text-splitters
PyMuPDF
pypdf
python-docx
chromadb
spacy
python-magic
motor
qdrant-client
openai
cohere
google-genai

# Phase 1 - SQL Database
sqlalchemy
psycopg2-binary
alembic

# Phase 2 - Authentication
python-jose[cryptography]
passlib[bcrypt]
